.main-container {

    font-family: 'Outfit';

    .section-container {

        margin-bottom: 10px;
    
        @media screen and (min-width: 1920px) {
            max-width: 1400px;
            width: 1400px;
        }
    }

    .main-navbar{
        font-weight: 600;
    }

    .wrapper-cover{

        .avatar-image{
            width: 100px;
        }

        .punch-line-text{
            font-family: 'Outfit';
            font-weight: 600;
            line-height: 1;
        }

        .cover-presentation-text{
            font-weight: 400;

            .text-animation{
                position: absolute;
                height: 100%;
                width: 0%;
                left: 101%;
                background-color: #1c1f21;
                animation: typing 2s linear, blink 1.3s infinite alternate;
                animation-timing-function: steps(39);
                will-change: animation;
                white-space: nowrap;
                overflow: hidden;
                border-left: 3px solid #5d6163;
            }
            
            .type-animation{
                position: relative;    
            }

            @keyframes typing {
                from {
                    left: 0%;
                    width: 100%;
                }
                to {
                    left: 101%;
                    width: 0%;
                }
            }

            @keyframes blink {
                50% {
                  border-color: transparent
                }
            }

            
        }
    }
}

.show-up-on-load-fast{
    animation: show-up-animation 2s ease ;

    @keyframes show-up-animation {
        0% {
            margin-top: 100px;
            opacity: 0;
        }
        70% {
            opacity: 0;
        } 
        100% {
            margin-top: 0px;
            opacity: 1;
        }
    }
}

.show-up-on-load-slow{
    animation: show-up-animation 3s ease ;

    @keyframes show-up-animation {
        0% {
            margin-top: 400px;
            opacity: 0;
        }
        70% {
            opacity: 0;
        } 
        100% {
            margin-top: 0px;
            opacity: 1;
        }
    }
}


.animation-delay-10 {
    animation-delay: 1s;
}


.animation-delay-05 {
    animation-delay: 0.5s;
}

.text-highlight-gradient{

    // &:p{
        
    // }

    color: transparent;
    background-image: rgb(219,168,143);
    background-image: -moz-linear-gradient(222deg, rgba(219,168,143,1) 24%, rgba(255,239,232,1) 49%, rgba(255,241,236,1) 51%, rgba(255,245,241,1) 54%, rgba(255,239,232,1) 57%, rgba(219,168,143,1) 72%);
    background-image: -webkit-linear-gradient(222deg, rgba(219,168,143,1) 24%, rgba(255,239,232,1) 49%, rgba(255,241,236,1) 51%, rgba(255,245,241,1) 54%, rgba(255,239,232,1) 57%, rgba(219,168,143,1) 72%);
    background-image: linear-gradient(222deg, rgba(219,168,143,1) 24%, rgba(255,239,232,1) 49%, rgba(255,241,236,1) 51%, rgba(255,245,241,1) 54%, rgba(255,239,232,1) 57%, rgba(219,168,143,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dba88f",endColorstr="#dba88f",GradientType=1);
    background-clip: text;
    animation: gradient 14s ease infinite reverse;
    background-repeat: repeat;
    animation-delay: 2.4s;
    background-size: 600% 200%;
    
    @keyframes gradient {
        0% {
            background-position: 0%;
        }
        20% {
            background-position: 100%;
        }
        100% {
            background-position: 100%;
        } 
    }
}
