.main-container {

    font-family: 'Outfit';

    .section-container {

        margin-bottom: 10px;
    
        @media screen and (min-width: 1920px) {
            max-width: 1400px;
            width: 1400px;
        }
    }

    .main-navbar{
        font-weight: 600;
    }

    .wrapper-cover{

        .avatar-image{
            width: 100px;
        }

        .punch-line-text{
            font-family: 'Outfit';
            font-weight: 700;
            line-height: 1;
        }

        .cover-presentation-text{
            font-weight: 600;
        }
    }
}

