.main-container {

    font-family: 'Outfit';

    .section-container {

        margin-bottom: 10px;
    
        @media screen and (min-width: 1920px) {
            max-width: 1400px;
            width: 1400px;
        }
    }

    .main-navbar{
        font-weight: 600;
    }

    .wrapper-cover{

        .avatar-image{
            width: 100px;
        }

        .punch-line-text{
            font-family: 'Outfit';
            font-weight: 600;
            line-height: 1;
        }

        .cover-presentation-text{
            font-weight: 500;

            .text-animation{
                position: absolute;
                height: 100%;
                width: 0%;
                left: 101%;
                background-color: #1c1f21;
                animation: typing 2s linear, blink 1.3s infinite alternate;
                animation-timing-function: steps(39);
                will-change: animation;
                white-space: nowrap;
                overflow: hidden;
                border-left: 3px solid #5d6163;
            }
            
            .type-animation{
                position: relative;    
            }

            @keyframes typing {
                from {
                    left: 0%;
                    width: 100%;
                }
                to {
                    left: 101%;
                    width: 0%;
                }
            }

            @keyframes blink {
                50% {
                  border-color: transparent
                }
              }
        }
    }
}

